@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,100&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap'); */

/* * {
    font-family: 'Montserrat', sans-serif !important;
} */

* {
  font-family: "Open Sans", sans-serif !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/*SCROLL BAR STYLING*/

/* *{scrollbar-color:#464646  #b7b7b7; scrollbar-width:thin;}
*::-webkit-scrollbar-track{background-color:#b7b7b7;}
*::-webkit-scrollbar{width:7px;background-color:#b7b7b7;}
*::-webkit-scrollbar-thumb{background-color:#464646;border-radius:6px;} */

@layer components {
  .UGbuttonPrimary {
    @apply text-white bg-ug-secondary rounded-3xl border border-ug-secondary border-solid !important;
  }
  .UGbuttonPrimaryLessRounded {
    @apply text-white bg-ug-secondary rounded-md border border-ug-secondary border-solid !important;
  }
  .UGbuttonWhite {
    @apply text-ug-secondary bg-white rounded-3xl border border-ug-secondary border-solid !important;
  }
  .UgbutonBlack {
    @apply text-black bg-white rounded-3xl !important;
  }
  .UGbutonBlackFillForCoupon {
    @apply text-white bg-gray-700 rounded-r-md rounded-l-none !important;
  }
  .UGbutonBlackFill {
    @apply text-white bg-gray-700 rounded-md !important;
  }
  .UGbuttonGreen {
    @apply text-green-600 bg-white rounded-3xl  !important;
  }
  .UGbuttonGreenFill {
    @apply text-white bg-green-600 rounded-3xl  !important;
  }
  .UGbuttonNavbarPrimary {
    @apply text-black bg-ug-primary rounded-3xl border border-ug-primary border-solid !important;
  }
  .UGbuttonNavbarPrimaryNoFill {
    @apply text-black bg-white rounded-3xl border border-ug-primary border-solid !important;
  }
  .UGbuttonRedNoFill{
    @apply text-white rounded-3xl border border-red-600 bg-red-600 border-solid !important;
  }
  .UGbuttonBlackNoFill{
    @apply text-black rounded-xl border border-gray-900 bg-white border-solid !important;
  }
  .UGbuttonRedNoFill{
    @apply text-red-500 border-0 bg-white  !important;
  }
  .UGbuttonRedFill{
    @apply text-white border-0 bg-red-500  rounded-3xl  !important;
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 96%;
  transform: scaleX(0);
  height: 2px;
  bottom: 5px;
  left: 0;
  background-color: #f36638;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation-h:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.rec-arrow {
  background-color: white !important;
  color: black !important;
  border: none !important;
  box-shadow: none !important;
  font-size: "14px";
}

.rec-arrow:hover {
  /* @apply text-white bg-ug-white rounded-3xl !important; */
  @apply text-white text-ug-primary rounded-3xl !important;
  box-shadow: none !important;
}

.rec-dot {
  /* @apply text-white bg-ug-secondary rounded-3xl !important; */
  color: black !important;
  /* border:none !important; */
  box-shadow: 0 0 1px 2px #000000 !important;
  font-size: "14px";
}

.rec-dot:hover {
  /* @apply text-white bg-ug-primary rounded-3xl !important; */
  color: rgb(3, 3, 3) !important;
  /* box-shadow: none !important; */
  box-shadow: 0 0 1px 2px #000000 !important;
}

.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seperator {
  width: 100%;
}

.carousel-wrapper {
  width: 100%;
  padding-bottom: "14px";
  /* margin:"20px 0px" */
}

.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 0px rgb(0, 0, 0);
}

.googleloginIcon {
  width: 36px;
  height: 36px;
  display: inline-block;
  background: url(https://images.ubergrad.com/replica/newspriteicon.png);
  background-position: left -288px top -828px;
  margin-top: 0;
  margin-bottom: 0;
}

.facebookloginIcon {
  width: 36px;
  height: 36px;
  display: inline-block;
  background: url(https://images.ubergrad.com/replica/newspriteicon.png);
  background-position: left -252px top -828px;
  margin-top: 0;
  margin-bottom: 0;
}

.facebooklogin {
  background-color: #4568b2 !important;
  border-radius: 6px;
  height: 42px;
  line-height: 42px;
  display: block;
  text-align: center;
  font-family: "Montserrat Bold";
  color: #ffffff !important;
}

.googlelogin {
  background-color: #ffffff !important;
  border-radius: 6px;
  height: 42px;
  line-height: 42px;
  display: block;
  text-align: center;
  font-family: "Montserrat Bold";
  color: #2e2e2e;
  border: #707070 1px solid !important;
}

.loginpageormain {
  height: 1px;
  background: #e9e9e9;
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
}

.loginpageor {
  height: 31px;
  line-height: 31px;
  padding: 0px;
  background: #ffffff;
  position: absolute;
  z-index: 55;
  top: -15px;
  font-size: 13px;
  font-family: "Montserrat SemiBold";
  color: #818181;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  width: 50px;
  text-align: center;
}

.othergpdetails i {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 36px;
  height: 36px;
  z-index: 5;
  background-image: url(https://images.ubergrad.com/replica/newspriteicon.png);
}

.emaillogin {
  background-color: #f36638 !important;
  border-radius: 6px;
  height: 42px;
  line-height: 42px;
  display: block;
  text-align: center;
  font-family: "Montserrat Bold";
  color: #ffffff !important;
  border: #707070 1px solid !important;
}
.emailloginIcon {
  width: 36px;
  height: 36px;
  display: inline-block;
  background: url(https://images.ubergrad.com/replica/newspriteicon.png);
  background-position: left -324px top -828px;
  margin-top: 0;
  margin-bottom: 0;
}

/* home page icon and image sprite */
.sprite {
  background-image: url("https://dxo1brvq3i3n2.cloudfront.net/static/ubergrad/spritesheet+(2).png");
  background-repeat: no-repeat;
  display: block;
}
.sprite-zoom-mobile {
  zoom: 0.12;
  /* Mozilla support */
  -moz-transform: scale(0.1);
  -moz-transform-origin: 0 0;
}

.sprite-zoom-desktop {
  transform: scaleX(1.1);
  /* Mozilla support */
  -moz-transform: scale(0);
  -moz-transform-origin: 0 0;
}
/* home exams css */
.sprite-zoom-desktop-exams {
  transform: scale(1.1);

  /* Mozilla support */
  -moz-transform: scale(0);
  -moz-transform-origin: 0 0;
}
.sprite-zoom-mobile-exams {
  zoom: 0.3;
  transform: scaleX(1.2);
  /* Mozilla support */
  -moz-transform: scale(0.1);
  -moz-transform-origin: 0 0;
}

.sprite-australia_home_large {
  width: 320px;
  height: 210px;
  background-position: -5px -5px;
  object-fit: cover;
  margin: auto;
  /* border: 1px solid black; */
}

.sprite-australia_home_mobile {
  width: 512px;
  height: 512px;
  background-position: -335px -5px;

  /* width:100%;
    height:100%; */
}

.sprite-canada_home_large {
  width: 320px;
  height: 210px;
  background-position: -857px -5px;
}

.sprite-canada_home_mobile {
  width: 512px;
  height: 512px;
  background-position: -1187px -5px;
}

.sprite-duolingo_home_large {
  width: 320px;
  height: 210px;
  background-position: -5px -527px;
}

.sprite-duolingo_home_mobile {
  width: 256px;
  height: 256px;
  background-position: -335px -527px;
}

.sprite-github {
  width: 30px;
  height: 30px;
  background-position: -601px -527px;
}

.sprite-gmail {
  width: 30px;
  height: 30px;
  background-position: -641px -527px;
}

.sprite-gmat_home_large {
  width: 320px;
  height: 210px;
  background-position: -681px -527px;
}

.sprite-gmat_home_mobile {
  width: 256px;
  height: 256px;
  background-position: -1011px -527px;
}

.sprite-gre_home_large {
  width: 320px;
  height: 210px;
  background-position: -1277px -527px;
}

.sprite-gre_home_mobile {
  width: 256px;
  height: 256px;
  background-position: -5px -747px;
}

.sprite-ielts_home_large {
  width: 320px;
  height: 210px;
  background-position: -601px -747px;
}

.sprite-ielts_home_mobile {
  width: 256px;
  height: 256px;
  background-position: -1277px -747px;
}

.sprite-ireland_home_large {
  width: 320px;
  height: 210px;
  background-position: -5px -1013px;
}

.sprite-ireland_home_mobile {
  width: 512px;
  height: 512px;
  background-position: -335px -1013px;
}

.sprite-linkedin {
  width: 30px;
  height: 30px;
  background-position: -1607px -527px;
}

.sprite-newzealandlive {
  width: 320px;
  height: 210px;
  background-position: -857px -1013px;
}

.sprite-nz_home_mobile {
  width: 512px;
  height: 512px;
  background-position: -1187px -1013px;
}

.sprite-pte_home_large {
  width: 320px;
  height: 210px;
  background-position: -1709px -5px;
}

.sprite-pte_home_mobile {
  width: 256px;
  height: 256px;
  background-position: -5px -225px;
}

.sprite-stackoverflow {
  width: 30px;
  height: 30px;
  background-position: -271px -225px;
}

.sprite-toefl_home_large {
  width: 320px;
  height: 210px;
  background-position: -857px -225px;
}

.sprite-toefl_home_mobile {
  width: 256px;
  height: 256px;
  background-position: -1709px -225px;
  background-color: #077f83;
}

.sprite-tumblr {
  width: 30px;
  height: 30px;
  background-position: -1975px -225px;
}

.sprite-twitter {
  width: 30px;
  height: 30px;
  background-position: -271px -265px;
}

.sprite-uk_home_large {
  width: 320px;
  height: 210px;
  background-position: -1709px -491px;
}

.sprite-uk_home_mobile {
  width: 512px;
  height: 512px;
  background-position: -2039px -5px;
}

.sprite-usa_home_large {
  width: 320px;
  height: 210px;
  background-position: -2039px -527px;
}

.sprite-usa_home_mobile {
  width: 512px;
  height: 512px;
  background-position: -1709px -747px;
}

.custom-backdrop .muibackdrop-root {
  z-index: "99999999 !important";
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
